<mat-tab-group>
    <mat-tab label="First"> 








      <div class="alert alert-success d-flex align-items-center" *ngFor="let todo of doneTodo$ | async">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24">
          <use xlink:href="#check-circle-fill"></use>
        </svg>
        <span>{{ todo.title}}</span>
      </div>
      
    
    </mat-tab>
    <mat-tab label="Second">  
      <div class="alert alert-success d-flex align-items-center" *ngFor="let todo of undoneTodo$ | async">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24">
          <use xlink:href="#check-circle-fill"></use>
        </svg>
        <span>{{ todo.title}}</span>
      </div>
      
    </mat-tab>
    <mat-tab label="Third"> 
     <app-clicking></app-clicking>
     </mat-tab>
     <mat-tab label="forty">  
        <app-abserver-test></app-abserver-test>
    </mat-tab>
    <mat-tab label="fivety">  
      <app-pipetest></app-pipetest>
  </mat-tab>
  <mat-tab label="sixty">  
    <app-exhaspam></app-exhaspam>
</mat-tab>
<mat-tab label="seventy">  
  <app-switch-map></app-switch-map>
</mat-tab>
<mat-tab label="eitty">  
  <app-compair></app-compair>
</mat-tab>
<mat-tab label="neinty">  
  <app-join-fork></app-join-fork>
</mat-tab>
  </mat-tab-group>
   